@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: Arial, Helvetica, sans-serif;
}

/* For custom scrollbar styles */
/* .scrollbar-visible::-webkit-scrollbar {
    height: 6px;
} */

.scrollbar-visible::-webkit-scrollbar-thumb {
    background-color: white;
    opacity: 0.2;
    border-radius: 4px;
}